body{
    font-family: 'VT323', monospace;;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    align-items: center;
    border: 2px solid khaki;
}

main > div > img{
    width: 90%;
    padding: 20px;
}


footer{
    text-align: center;
}